/* Resume */

#resume {
	h3 {
		background-color: _palette(border-bg);
	}
	.link-to {
		position: relative;
		top: -4.5em;
	}

	.link-container h4 {
		text-decoration:none;
		border-bottom: none;
		display: inline-flex;

		a {
				padding: 0 .5em;
				margin: 0;
		}
	}
	.title_download {
		display: grid;

		.download {
			position: absolute;
			right: 20px
		}
	}
	.education {

		.title {
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.experience {
		.title {
			text-align: center;
		}
		.job {
			margin: 1em;
			p{
				margin: 0;
			}
			
		}
		.companyProfile {
			font-family: "Optima", sans-serif;
			font-size: small;
		}
	}

	.project {
		.title {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.curri {
		.title {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.skill {
		.title {
			text-align: center;
			margin-bottom: 20px;
		}
	}

	.container {
		display: grid;
		margin-bottom: 7px;
	}


	.courses {
		padding-top: 1.6em;
		.title {
			text-align: center;
		}
		.course-list {
			text-align: center;

			h4 {
				white-space: nowrap;
			}
		}
	}

	.skills {
		margin-top: 2em;
		.title {
			text-align: center;
			p {
				font-size: 0.9em;
			}
		}
	}

	.summary {
		margin-bottom: 0.5em;
		font-size: 0.9em;
	}

}

.daterange {
	margin-bottom: .2em;
}

.jobs-container {
	.points {
		li {
			margin: 0;
			padding: 0;
			font-size: .9em;
		}
	}

	.companyProfile {
		
		margin-bottom: 0.5em;
		margin-left: 0.9em;
		font-size: 0.9em;
		// font-size: 1em;
		font-family: "Raleway", Helvetica, sans-serif;
		
	}

	.company {
		margin-bottom: .1em;
		text-transform: none;
		letter-spacing: 0.16em;
		font-size: 1em;
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	.location {
		position: absolute;
		right: 30px;
		vertical-align: middle;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.position {
		text-transform: none;
		padding-top: 0.3em;
		margin-bottom: 0.1em;
		font-size: 0.8em;
	}

	.year {
		position: absolute;
		right: 30px;
		vertical-align: middle;
		margin: 0;
	}
}

.project-container {
	.points {
		li {
			margin: 0;
			padding: 0;
				font-size: .9em;
		}
	}

	.name {
		margin-bottom: .1em;
		text-transform: none;
		letter-spacing: 0.16em;
		font-size: 1em;
		display: flex;
		align-items: center;
		margin-right: 10px;

		a {
			margin-left: 10px;
		}
	}

	.icon {
		position: absolute;
		right: 30%;
		margin-top: 0;
	}

	.year {
		position: absolute;
		right: 30px;
		vertical-align: middle;
		margin: 0;
	}
}

.curri-container {
	.points {
		li {
			margin: 0;
			padding: 0;
				font-size: .9em;
		}
	}

	.name {
		margin-bottom: .1em;
		text-transform: none;
		letter-spacing: 0.16em;
		font-size: 1em;
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	.icon {
		position: absolute;
		right: 30%;
		margin-top: 0;
	}

	.year {
		position: absolute;
		right: 30px;
		vertical-align: middle;
		margin: 0;
	}
}

.degree-container {
	margin-bottom: 20px;
    display: flex;
  	justify-content: space-between;

	// div {
	// 	display: grid;
	// 	margin-bottom: 10px;
	// }
	h4 {
		font-weight: normal;
	}

	.school {
		margin-bottom: .1em;
		text-transform: none;
		letter-spacing: 0.16em;
		font-size: 1em;
		display: flex;
  		align-items: center;
		margin-right: 10px;
	}

	.location {
		position: absolute;
		right: 30px;
		vertical-align: middle;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.degree {
		text-transform: none;
		padding-top: 0.3em;
		margin-bottom: 0.1em;
		font-size: 0.8em;
	}

	.year {
		position: absolute;
		right: 30px;
		vertical-align: middle;
		margin: 0;
	}
}


.skill-container {
	margin-bottom: 20px;
    display: flex;
  	justify-content: space-between;
	

	.element {
		margin-left: 30px;
		width: 75%;
	}

	.name {
		width: 25%;
	}
}

.courses .course-number {
	display: inline;
}
.courses .course-name {
	display: inline;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
}

.courses ul li{
  display: inline;
}

.course-dot {
	display: inline;
	// display: none;
}

@include breakpoint(small) {
	.course-dot {
		display: none;
	}
	.course-container a{
		display: block;
	}
}
